/*
@Author: ThemeMascot
@URL: http://ThemeMascot.com

This is the file where you can add your custom styles to change the look of the
theme. But don't modify style-main.css file.

*/

/* Your custom css codes start here: */


/* //////////////////////// Blog View //////////////////////// */
.blog-img {
    border-radius: 50%;
    width: 65%;
}
.contentBlock{
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding-left: 15px;
}
.cus-h1 {
    font-size: 29px;
    color: #3D4251;
    font-weight: bold;
    margin: 5px 0 20px;
}
@media (min-width: 800px) {
    .cus-h1 {
        font-size: 30px;
        margin-top: 20px;
    }
}
.authorBlock {
    display: none;
}

@media (min-width: 800px) {
    .authorBlock {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin-left: 15px;
        width: 40px;
        height: 40px;
    }
}

.Author a {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}

.Avatar {
    display: inline-block;
    background-size: cover;
    background-color: #E6EAEB;
    background-repeat: no-repeat;
}

.NewsCard {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #FFFFFF;
    border: solid 1px #b9c1c3;
    /* border-bottom: none; */
    overflow: hidden;
    margin: 0 10px;
    padding: 17px 20px 17px 5px;
    cursor: pointer;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

.NewsCard:hover{
    box-shadow: 0 18px 21px 0 rgba(22, 63, 82, 0.15);
    transform: translate(0,-5px);
    transition: 0.2s ease-in-out;
}
.News {
    margin: 0 0 30px;
    padding: 15px 0 0;
    background-color: #FFFFFF;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
}
@media (min-width: 800px) {
    .News {
        position: relative;
        margin: 0 auto 30px;
        padding: 25px 70px 50px;        
        max-width: 1120px;
        min-height: 275px;
        border: 1px solid #E3E7E8;
        border-radius: 4px;
    }
}

.contentBlock .blue {
    margin: 0;
    font-size: 20px;
    line-height: 27px;
}

h2.blue {
    color: #33AACC;
}

h2 {
    font-size: 20px;
    -webkit-letter-spacing: 0.3px;
    -moz-letter-spacing: 0.3px;
    -ms-letter-spacing: 0.3px;
    letter-spacing: 0.3px;
    line-height: 1.33;
    font-weight: bold;
    margin: 18px 0px;
    color: #3D4251;
}
@media (min-width: 800px) {
    h2 {
        font-size: 32px;
    }
}
.contentBlock a {
    display: block;
}
a {
    color: #33AACC;
    text-decoration: none;
}
.detailsBlock {
    display: none;
}
@media (min-width: 800px) {
    .detailsBlock {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-top: 5px;
        font-size: 11px;
    }
}
.DomainLine {
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    font-size: 11px;
}

.DomainLine a {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 16px;
}
.filter {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 48px;
    float: right;
}
@media (min-width: 800px) {
    .filter {
        -webkit-flex: 0 0 33%;
        -ms-flex: 0 0 33%;
        flex: 0 0 33%;
        line-height: normal;
    }
}
.date {
    font-size: 11px;
    -webkit-letter-spacing: 0.2px;
    -moz-letter-spacing: 0.2px;
    -ms-letter-spacing: 0.2px;
    letter-spacing: 0.2px;
    color: #686F75;
}
@media (min-width: 800px) {
    .date {
        display: inline-block;
        margin: 0 5px;
        padding-left: 5px;
        border-left: 1px solid #E3E7E8;
    }
}
.noPadding {
    padding: 0;
}
.Button {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    height: 33px;
    margin: auto 5px;
    padding: 0 15px;
    font-size: 13px;
    font-weight: bold;
    -webkit-letter-spacing: 0.2px;
    -moz-letter-spacing: 0.2px;
    -ms-letter-spacing: 0.2px;
    letter-spacing: 0.2px;
    white-space: nowrap;
    color: #3A3A3A;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}
.icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 20px;
}
@media (min-width: 800px) {
    .icon {
        min-width: 13px;
        height: 13px;
        margin-right: 5px;
    }
}
.icon svg {
    -webkit-flex: 1 1 0;
    -ms-flex: 1 1 0;
    flex: 1 1 0;
    height: 20px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    fill: #33AACC;
}
@media (min-width: 800px) {
    .icon svg {
        height: 13px;
    }
}
.desktopOnly {
    display: none;
}
@media (min-width: 800px) {
    .desktopOnly {
        display: block;
    }
}
.leftSide {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
@media (min-width: 800px) {
    .leftSide {
        -webkit-flex: 1 1 50%;
        -ms-flex: 1 1 50%;
        flex: 1 1 50%;
    }
}

.shared {
    margin-right: 9px;
    font-size: 9px;
    font-weight: bold;
    -webkit-letter-spacing: 0.7px;
    -moz-letter-spacing: 0.7px;
    -ms-letter-spacing: 0.7px;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    color: #3D4251;
}

.info {
    margin-left: 9px;
    white-space: nowrap;
}
.name {
    font-size: 13px;
    font-weight: bold;
    -webkit-letter-spacing: 0.2px;
    -moz-letter-spacing: 0.2px;
    -ms-letter-spacing: 0.2px;
    letter-spacing: 0.2px;
    color: #3D4251;
    text-decoration: none;
}


.pageTitle {
    font-family: 'Lato',sans-serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.3em;
    margin-bottom: 0.5em;
}
@media (min-width: 800px) {
    .pageTitle {
        font-size: 40px;
    }
}

.description {
    position: relative;
    margin: 0 20px 15px;
    font-family: 'Lora',serif;
    font-size: 26px;
    line-height: 39px;
    -webkit-letter-spacing: 0.5px;
    -moz-letter-spacing: 0.5px;
    -ms-letter-spacing: 0.5px;
    letter-spacing: 0.5px;
    color: #3D4251;
}
@media (min-width: 800px) {
    .description {
        min-height: 80px;
        margin-bottom: 60px;
    }
}
.pageDescription {
    font-family: 'Lora',serif;
    font-size: 20.8px;
    line-height: 1.5em;
    margin-bottom: 1.4em;
    color: #3D4251;
}
@media (min-width: 800px) {
    .pageDescription {
        font-size: 26px;
    }
}
.blogfade {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,rgba(255,255,255,0) 0%,rgba(255,255,255,0.33) 40%,rgba(255,255,255,1) 100%);
}
.read {
    margin-top: 20px;
    text-align: center;
}
.big {
    font-size: 15px;
    height: 42px;
}
.primary {
    background-color: #FFC844;
}
.primary:hover{background-color:#FBE28D;}
.desktopOnly:hover{color:#33AACC}

/* //////////////////////// Modal View //////////////////////// */
.modalContent.noBackground {
    padding-top: 40px;
}
@media (min-width: 800px) {
    .modalContent {
        max-width: 560px;
        margin: auto !important;
    }
}
.modalContent {
    display: flex;
    position: relative;
    top: 30%;
    background-color: rgb(255, 255, 255);
    margin: 50px 10px 30px;
    padding: 0px 10px 30px 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(227, 231, 232);
    border-image: initial;
    border-radius: 4px;
    width: 100%;
    /* height: 100%; */
    align-items: center;
}
.AuthModal {
    width: 100%;
    text-align: center;
    flex: 1 1 auto;
    padding: 0px;
}
@media (min-width: 800px) {
    .AuthModal {
        width: 660px;
        padding: 0px 80px;
    }
}
.auth_h1 {
    font-size: 30px !important;
}
.close {
    position: absolute;
    right: 10px;
    top: 10px;
    line-height: 0;
    cursor: pointer;
    color: #686F75;
}

.buttons {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-content: center;
}
.buttons button {
    display: flex;
    max-width: calc((100% - 20px) / 2);
    flex: 1 1 auto;
}
.buttons button.linkedin {
    background-color: rgb(0, 117, 182);
    border-color: rgb(0, 117, 182);
}
.buttons button.facebook {
    background-color: rgb(58, 88, 154);
    border-color: rgb(58, 88, 154);
}
.buttons button.google {
    background-color: rgb(224, 76, 56);
    border-color: rgb(224, 76, 56);
}
.buttons button {
    width: 100%;
    font-size: 15px;
    font-weight: normal;
    color: rgb(255, 255, 255);
    flex: 1 1 auto;
    margin: 0px;
}
@media (min-width: 800px) {
    .extra .icon, .extraIcon {
        min-width: 17px;
        height: 17px;
    }
}
.buttons .icon svg {
    max-width: 20px;
    max-height: 20px;
    fill: rgb(255, 255, 255);
}
@media (min-width: 800px) {
    .extra svg, .extraIcon svg {
        height: 17px;
    }
}